{% extends 'blog/base.html' %}

{% block content %}

{% for post in posts %}
   <a class="text-dark" href="{% url 'detail' post.id %}"><img  class="img-fluid  border" src="{{ post.image.url}}" alt=" {{post.title}} " style="width:780px; height:250px;"></a>

  <div class="card-body">
      <h6> <a class="text-dark" href="{% url 'category' post.category %}"> {{ post.category }} </a> </h6>


    <h4 class="card-title"><a class="text-dark" href="{% url 'detail' post.id %}">{{post.title}} </a></h4>
      <p class="card-text"><small class="text-muted">      نشر في  {{post.post_date |date:'d-m-Y'}}</small></p>
    <h6 class="card-text">{% if post.content|length > 200 %}
        {{ post.content|truncatechars_html:200 |safe}}..<a href="{% url 'detail' post.id %}"> المزيد </a>

            {% else %}
            <p>{{post.content|safe}}</p>
            {% endif %}
            </h6>
      <h5 class="card-text"><small class="text-muted"><i class="fas fa-user"></i> {{post.author}}</small></h5>

  </div>





{% endfor %}
{% include 'blog/pagination.html' with page=posts%}
{% endblock content %}