{% extends 'blog/base.html' %}

{% block content %}
<br>

<br>
<h4>
    المشروع في الأساس <a href="https://www.youtube.com/channel/UCFJQlGHk3M-sDYLFOOLnWyA" alt="">لقناة شبكة علوم </a> و قد قمت بإضافة خصائص عدة على المشروع الأصلي
    و هي :
    <ul>
                                   <li><h4>تسجيل الدخول عن طريق موقع غوغل </h4></li>
        <li><h4>مشاركة التدوينات على مواقع التواصل الاجتماعي</h4></li>
        <li><h4>إضافة تنسيق النص </h4></li>
        <li><h4>حذف التعليقات</h4></li>
        <li><h4>إضافة زر اللايك للتدوينة</h4></li>
        <li><h4> جعل التدوينات في تصنيفات</h4></li>
        <li><h4> معرفة حالى الطقس </h4></li>
        <li><h4>عرض المدونات في الصفحة الرئيسية بشكل احترافي ... </h4></li>

                               </ul>
</h4>
<br>
<h4>

{% endblock content %}