{% extends 'blog/base.html' %}

{% block content %}
{% load crispy_forms_tags %}




<div class="border p-4 mb-5 ">
    <legend class="border-bottom pb-1 mb-3 ">إنشاء حساب </legend>
 <form method="POST">
    {% csrf_token %}
    {{register_form|crispy }}

    <input class="btn btn-secondary mt-4" type="submit" value="تسجيل ">

</form>
    <div class="border-top mt-4 pt-2">
        <small > إذا كنت تملك حسابا فيمكنك تسجيل الدخول من <a href="{% url 'login' %}"> هنا </a> </small>
    </div>
</div>





{% endblock content %}